.messages {
  background-color: rgba(250, 250, 250, 0.2);
  padding: 20px;
  position: absolute;
  width: 20%;
  height: 400px;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 4px 0px rgba(100, 100, 100, 0.1);
  overflow-y: scroll;
}

.message {
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(244, 244, 244, 1);
  margin-bottom: 2px;
}
.message-content {
  margin-left: 10px;
}

.message.enter-active {
  opacity: 0;
}

.message.enter-done {
  opacity: 1;
  height: auto;
  transition: 0.3s;
}