.messages {
  background-color: rgba(250, 250, 250, 0.2);
  padding: 20px;
  position: absolute;
  width: 20%;
  height: 90vh;
  top: 10px;
  right: 0;
  border-radius: 10px;
  overflow: hidden;
}

.message {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(244, 244, 244, 1);
  margin-bottom: 4px;
  font-size: 12px;
}
.message-content {
  margin-left: 10px;
}

.message.enter-active {
  opacity: 0;
}

.message.enter-done {
  opacity: 1;
  height: auto;
  transition: 0.3s;
}
