.timeline {
  background-color: white;
  display: flex;
}

.date {
  font-family: Helvetica-Bold;
  font-size: 26px;
  color: #CAA8D3;
  text-align: left;
  flex: 1 1 30%;
  text-align: right;
  margin-right: 20px;
}

.year {
  letter-spacing: 4px;
  line-height: 23px;
}

.slots {
  flex: 1 1 70%;
  margin-top: 6px;
}

.slot {
  display: flex;
  margin-bottom: 1px;
}

.slot-label {
  background: #DAC7E3;
  flex: 0 0 60px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 120%;
}
.slot-items {
  border: 1px solid #E7DBEC;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 4px;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  border: 1px solid grey;
}

.user-a {
  background-image: url('/images/tokage.png');
}

.user-b {
  background-image: url('/images/neko.png');
}

.user-c {
  background-image: url('/images/penguin.png');
}