<h1>Edit Slack message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.slack_message_path(@conn, :update, @slack_message)) %>

<span><%= link "Back", to: Routes.slack_message_path(@conn, :index) %></span>
